<html ng-app="myApp">
<head>
    <script src="scripts/angular.js"></script>
    <script src="scripts/ng-app.js"></script>
    <meta charset="UTF8" />

    <link href="style/bootstrap.min.css" rel="stylesheet">
    <link href="style/clean-blog.min.css" rel="stylesheet">

    <link rel="icon" href="assets/favicon.ico" />

    <title>Index</title>
</head>

<body class='modal-body' ng-controller="myBodyController">
    
    <div class='modal-footer col-xs-8' style="position: absolute; bottom: 2%;
        right:2%">
        <hr/>
        Psyked - {{getDate()}}
    </div>
</body>
</html>